.header {
  background-image: url("images/bg.jpg");
  padding: 250px;
}
.header > h1 {
  display: flex;
  justify-content: center;
}
.header > h2 {
  display: flex;
  justify-content: center;
}
h1 {
  color: #e75480;
}
img {
  border: solid white;
  border-radius: 5vh;
}
.nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-image: url("images/bg.jpg");
}
.body {
  display: flex;
  justify-content: center;
  background-image: url("images/bg.jpg");
  color: white;
}
